<div class="row">
    <div class="col-md-5">
        <h2>Leaderboard</h2>
        <table class="table">
            <thead>
            <td>#</td>
            <td>Username</td>
            <td>Score</td>
            </thead>
            <tr class="list-group-item"
                *ngFor="let entry of entries; index as i">
                <td>{{i+1}}</td>
                <td>{{entry.name}}</td>
                <td>{{(entry.value*100).toFixed(2)}}</td>
            </tr>
        </table>
    </div>
</div>
