<div class="jumbotron">
    <h1>The Tutorial</h1>
    <p>By the end of this tutorial you'll be racing other developers for the top spot on the leaderboard!</p>
    <p>
        <a class="btn btn-primary btn-lg" role="button">
            <i class="fa fa-car" aria-hidden="true"></i>Step 1 - Drive your race car
        </a> <br>
        <a class="btn btn-primary btn-lg" role="button">
            <i class="fa fa-wifi" aria-hidden="true"></i>Step 2 - Respond to changes in the environment
        </a> <br>
        <a class="btn btn-primary btn-lg" role="button">
            <i class="fa fa-line-chart" aria-hidden="true"></i>Step 3 - Artificial Intelligence and beyond
        </a> <br>
        <a class="btn btn-primary btn-lg" role="button">
            Race Car Cheat Sheet
        </a> <br>
    </p>
</div>
<div id="Tutorial1" class="jumbotron">
    <h1><i class="fa fa-car" aria-hidden="true"></i>Step 1 - Drive</h1>
</div>
<div id="Tutorial2" class="jumbotron">
    <h1><i class="fa fa-wifi" aria-hidden="true"></i>Step 2 - Sense</h1>
</div>
<div id="Tutorial3" class="jumbotron">
    <h1><i class="fa fa-line-chart" aria-hidden="true"></i>Step 3 - Learn (AI)</h1>
</div>
<div id="CheatSheet" class="jumbotron">
    <h1>Cheat Sheet</h1>
    <img class="cheatImg" src="/assets/img/cheatsheep.png">
</div>
