<p>
  landing works!
</p>

<h2>
    <a class="nav-link" routerLink="/app-tutorial" routerLinkActive="active">
        <span class="black-text"><i class="fa  fa-list-ol fa-fw"></i>tutorial</span></a>
</h2>

<h2>
    <a class="nav-link" routerLink="/app-login" routerLinkActive="active">
        <span class="black-text"><i class="fa  fa-key fa-fw"></i>Login</span></a>
</h2>
<h2>
    <a class="nav-link" routerLink="/app-training" routerLinkActive="active">
        <span class="black-text"><i class="fa  fa-key fa-fw"></i>Training</span></a>
</h2>
