<div class="section">
    <div class="row" >
        <div class="col s9" style="text-align: center">
            <div class="semi-transparent">
                <h4 > Upload your submission here</h4>
                <input type="file" placeholder="Upload file..." (change)="changeListener($event)"  />
            </div>
            <div id="editor" class="container left-align" style="height: 500px;">import numpy as np: </div>
                <button class="btn waves-effect semi-transparent" type="submit" name="action" (click)="submitScript()">Submit
                    <i class="fa fa-arrow-circle-o-right fa-fw"></i></button>
            </div>
        <div class="col s3 semi-transparent">
            Some controls/API description
        </div>
    </div>

</div>

