<div id="myWrapper">
    <form class="form">
        <div class="form-group">
            <label for="mode" class="control-label">Language Mode:</label>
            <select id="mode" class="form-control">
                <option>javascript</option>
                <option>python</option>
            </select>
        </div>
    </form>
    <div id="editor-container" class="row">
        <div id="editor" class="col-xs-12">function foo(items) {{ '{' }}
            var x = "All this is syntax highlighted";
            return x;
            {{ '}' }}
        </div>
    </div>
</div>



<script>
    var editor = ace.edit("myWrapper.editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>
