<title>User Login</title>

<div *ngIf="!auth.loggedIn()" class="overall">
    <div class="login" id="column1" style="float:left; margin:0; width:70%;">
        <h3>Login or Register</h3>
        <form #f="ngForm">
            <p><input autofocus class="form-control" type="text" name="username" [(ngModel)]="credential.username" placeholder="Username"></p>
            <p><input class="form-control" type="password" name="password" [(ngModel)]="credential.password"  placeholder="Password"></p>
            <button class="btn btn-lg btn-default" (click)="onLogin()">Login</button>
            <button class="btn btn-lg btn-default" (click)="onRegister()">Register</button>
        </form>
        <div class="error" *ngIf="hasError()">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{errMsg}}
        </div>
    </div>
    <div align="center" class="login" id="column2" style="float:left; margin:0; width:30%;">
        <h3>Play as a <b>guest</b><br></h3>
        <button class="btn btn-lg btn-default" (click)="onGuest()">Guest</button>
    </div>
</div>
