<!--The whole content below can be removed with the new code.-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.lavalamp.min.js"></script>
<script type="text/javascript">
  $(function() {
    $("#lava_menu").lavaLamp({
      fx: "backout",
      speed: 700
    });
  });
</script>
<div style="text-align:center">
  <div id="main">
    <div id="header">
      <h1><span>{{title}}</span></h1>
      <h2>Competitive AI, Collaborate Learning</h2>
    </div><!--close header-->
    <div class="container_header"><p>&nbsp;</p></div>
    <div id="site_background">
      <!--<div id="banner">-->
        <!--<div id="banner_content">-->
        <!--</div>&lt;!&ndash;close banner_content&ndash;&gt;-->
      <!--</div>&lt;!&ndash;close banner&ndash;&gt;-->
      <div id="site_content">
        <div id="menubar">
          <ul class="lavaLampWithImage" id="lava_menu">
            <li class="current"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/rooms" routerLinkActive="active">All rooms</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/codeSubmission" routerLinkActive="active">AI Code Submission</a></li>
          </ul>
        </div><!--close menubar-->
        <div id="content">
          <div class="content_item">
            <router-outlet></router-outlet>
          </div><!--close content_item-->

          <div class="sidebar_container">
            <div class="sidebar">
              <div class="sidebar_item">
                <h2>Leaderboard</h2>
              </div><!--close sidebar-->
            </div><!--close sidebar_container-->
            <br style="clear:both;" />
          </div><!--close content-->
        </div><!--close site_content-->
      </div><!--close site_background-->
    </div><!--close main-->
  </div>
</div>
