<nav class = "semi-transparent">
    <div class="nav-wrapper">

        <a href="#!" class="brand-logo left" style = "color: #1976D2;"> <span class="blue-text text-darken-2">{{title}}</span></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" >
                    <span class="blue-text text-darken-2">Dashboard</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="/rooms" routerLinkActive="active" >
                    <span class="blue-text text-darken-2">Simulation Rooms</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="/mapBuilder" routerLinkActive="active">
                    <span class="blue-text text-darken-2">Map Building</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="/codeSubmission" routerLinkActive="active">
                    <span class="blue-text text-darken-2">AI Code Submission</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="/login" routerLinkActive="active">
                    <span class="blue-text text-darken-2">Login</span></a>
            </li>
        </ul>
    </div>
</nav>
        <router-outlet></router-outlet>


