<div class="jumbotron" xmlns="http://www.w3.org/1999/html">

    <div class="row">
        <h1><b>Challenges</b></h1>
        <progress id="progressbar" value="10" max="100"></progress>

        <div class="col s2">
            <h3> Choose your script </h3>
            <ul class="scripts">
                <li *ngFor="let script of scripts"
                    [class.selected]="script === selectedScript"
                    (click)="onSelect(script)">
                    <span>Script {{script.scriptName}}<i class="fa-li fa fa-spinner fa-spin"></i> </span>
                </li>
            </ul>
            <div *ngIf="selectedScript">
                <button class="btn btn-warning" (click)="attemptChallenge(selectedScript)">Attempt</button>
            </div>
        </div>

        <div class="col s8">
            <div style="text-align: center">
                <canvas id="PIXIcanvas" width="1600" height="1280" tabindex="0"
                        style="touch-action: none; cursor: inherit;" class="pixiCanvas"></canvas>
            </div>
        </div>
    </div>
</div>
