<div class="jumbotron">
    <div class="row">
        <title>Challenges</title>
        <div class="col s2">
            <h3 class="semi-transparent center"> Choose your script </h3>
            <ul class="scripts">
                <li *ngFor="let script of scripts"
                    [class.selected]="script === selectedScript"
                    (click)="onSelect(script)">
                    <span>Script {{script.scriptName}}<i class="fa-li fa fa-spinner fa-spin"></i> </span>
                </li>
            </ul>
            <div *ngIf="selectedScript">
                <button class="btn btn-warning" (click)="trainAi(selectedScript)">Train this</button>
            </div>

        </div>

        <div class="col s8">
            <div style="text-align: center">
                <canvas id="PIXIcanvas" width="1600" height="1280" tabindex="0"
                        style="touch-action: none; cursor: inherit;" class="pixiCanvas"></canvas>
            </div>
        </div>
    </div>
</div>
