<div class="jumbotron">

<div class="row">
        <div class="col s4 rounded-block">
            <!--
                <a class="nav-link" routerLink="/mapBuilder" routerLinkActive="active">
                    <span class="black-text" style="font-size: 3rem"><i class="fa fa-map fa-fw"></i>Map Building</span></a>
            -->
            <h3>Step 1</h3>
            <a class="nav-link" routerLink="/app-codeSubmission" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-terminal fa-fw"></i>
                    Write AI Code
                </button>
            </a>
        </div>
        <div class="col s4 rounded-block">
            <h3>Step 2</h3>
            <a class="nav-link" routerLink="/challenges" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-flag" aria-hidden="true"></i>
                    Challenges
                </button>
            </a>
        </div>
        <div class="col s4 rounded-block">
            <h3>Step 3</h3>
            <a class="nav-link" routerLink="/app-training" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange fa-fw"></i>
                    Train your AI
                </button>
            </a>
        </div>
        <!--<div class="col s4 rounded-block">-->
            <!--<a class="nav-link" routerLink="/app-statistics" routerLinkActive="active">-->
                <!--<button class="btn btn-primary btn-lg">-->
                    <!--<i class="fa  fa-list-ol fa-fw"></i>-->
                    <!--statistics-->
                <!--</button>-->
            <!--</a>-->
        <!--</div>-->
</div>
</div>
