<div class="jumbotron">
    <div align="center" class="row">
                <!--
                    <a class="nav-link" routerLink="/mapBuilder" routerLinkActive="active">
                        <span class="black-text" style="font-size: 3rem"><i class="fa fa-map fa-fw"></i>Map Building</span></a>
                -->
        <div align="center" class="objectives">
            <h3>Step 1</h3>
            <a class="nav-link" routerLink="/app-tutorial" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-terminal fa-fw"></i>
                    Tutorial
                </button>
            </a>
        </div>
        <div align="center" class="objectives">
            <h3>Step 2</h3>
            <a class="nav-link" routerLink="/app-codeSubmission" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-terminal fa-fw"></i>
                    Write AI Code
                </button>
            </a>
        </div>
        <div align="center" class="objectives">
            <h3>Step 3</h3>
            <a class="nav-link" routerLink="/challenges" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-flag" aria-hidden="true"></i>
                    Challenges
                </button>
            </a>
        </div>
        <div align="center" class="objectives">
        <h3>Step 4</h3>
            <a class="nav-link" routerLink="/app-training" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange fa-fw"></i>
                    Train your AI
                </button>
            </a>
        </div>
        <div align="center" class="objectives">
            <h3>Step 5</h3>
            <a class="nav-link" routerLink="/app-race" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange fa-fw"></i>
                    Race
                </button>
            </a>
        </div>
        <div align="center" class="objectives">
            <h3>Step 6</h3>
            <a class="nav-link" routerLink="/app-leaderboard" routerLinkActive="active">
                <button class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange fa-fw"></i>
                    Leaderboard
                </button>
            </a>
        </div>
    </div>
</div>
