<div class="jumbotron">

<div class="row">
    <div class="col s2">
        <h4 class="semi-transparent-block center"> Your AIs </h4>
        <div class="overflow-scroll" id="user-script">
            <ul class="scripts">
                <li *ngFor="let script of scripts"
                    [class.selected]="script === selectedScript"
                    (click)="onSelect(script)">
                    <span>Script {{script.scriptName}} </span>
                </li>
            </ul>
            <div *ngIf="selectedScript">
                <button class="btn btn-warning" (click)="trainAi(selectedScript)">Train</button>
            </div>
        </div>
        <div style="width: 2%"></div>

    </div>

    <div class="col s8">
        <div style="text-align: center">
            <canvas id="PIXIcanvas" width="800" height="640" tabindex="0"
                    style="touch-action: none; cursor: inherit;" class="pixiCanvas"></canvas>
        </div>
    </div>
    <div class="col s2">
        <h4 class="semi-transparent-block center vert-padding">View controls</h4>
        <div style="width: 2%"></div>
        <a class="btn semi-transparent-block" (click)="zoomIn()">
            Zoom In
            <i class="fa fa-search-plus" aria-hidden="true"></i>
        </a> <br><br>
        <a class="btn semi-transparent-block" (click)="zoomOut()">
            Zoom Out
            <i class="fa fa-search-minus" aria-hidden="true"></i>
        </a> <br><br>
        <a class="btn semi-transparent-block" (click)="switchCar()">
            Switch
            <i class="fa fa-exchange" aria-hidden="true"></i>
        </a>
    </div>
    </div>
</div>
<div class="jumbotron">
    <chart [options]="options" style="height: 300px"></chart>
</div>
