<div class="row">
    <div class="col s2">
        <h3 class="semi-transparent center"> Training Mode </h3>
        <ul class="scripts">
            <li *ngFor="let script of scripts"
                [class.selected]="script === selectedScript"
                (click)="onSelect(script)">
                <span>Script {{script.scriptName}}<i class="fa-li fa fa-spinner fa-spin"></i> </span>
            </li>
        </ul>
        <div *ngIf="selectedScript">
            <button class="btn btn-warning" (click)="trainAi(selectedScript)">Train this</button>
        </div>
    </div>

    <div class="col s8">
        <div style="text-align: center">
            <canvas id="PIXIcanvas" width="800" height="640" tabindex="0"
                    style="touch-action: none; cursor: inherit;" class="pixiCanvas"></canvas>
        </div>
    </div>
    <div class="col s2">
        <h3 class="semi-transparent center">View controls</h3>
        <a class="btn waves-effect semi-transparent" (click)="zoomIn()">Zoom In </a> <br><br>
        <a class="btn waves-effect semi-transparent" (click)="zoomOut()">Zoom Out </a> <br><br>
        <a class="btn waves-effect semi-transparent" (click)="switchCar()">Switch Car </a>
    </div>
    <div id="editor" class="container left-align" style="height: 500px;">import numpy as np: </div>
</div>

