body {
    background-image: url("/assets/img/grid-semi-transparent.jpg");
}

.semi-transparent {
    background-color: #FFFFFF !important;
    opacity: 0.7;
    filter: alpha(opacity=50);
    color: black;
}
