.messages {
    list-style-type: none; margin: 0; padding: 0;
}
.messages li {
    padding: 5px 10px;
}
.messages li:nth-child(odd) {
    background: #eee;
}
.search-results {
    height: 100px;
    overflow: scroll;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border-radius: 15px;
    margin: 2%;
}
